@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur GestionCalabar</h1>
    <p>Ici, tu vas pouvoir gérer ton bar en toute simplicité ! </p>
</div>

<script src="~/js/clearLocalStorage.js"></script>
