@model Models.Bureau

@{
    ViewData["Title"] = "Supprimer bureau";
}

<h2>Supprimer un bureau</h2>

<h4>Etes-vous sûr ? </h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Bureau
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nom)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Supprimer" class="btn btn-danger" /> |
        <a asp-action="Index">Retour</a>
    </form>
</div>